{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h2>{{ item.title }}</h2>
        <p>Price: <strong>${{ price }}</strong></p>
        <br>
        <img src="{{ item.url }}" class="card-img" alt="Image of {{ item.title }}">
        <br>
        <p>{{ item.description }}</p>
        <ul>
            <li>Owner: {{ item.owner }}</li>
            {% if item.category %}
                <li>Catgegory: {{ item.category }}</li>
            {% else %}
                <li>Category: No cagetory listed</li>
            {% endif %}
            <li>Created: {{ item.create_time }}</li>
        </ul>
    </div>
    <div>
        <form action="{% url 'watchlist' %}" method="POST" for="wishyet">
            {% csrf_token %}
            <input type='hidden' name='item_id' value="{{ item.id }}">
            {% if exist %}
                <button type="submit" name="found" value="1" id="wishyet" class="btn btn-danger">Remove from Watchlist</button>
            {% else %}
                <button type="submit" name="found" value="0" id="wishyet" class="btn btn-primary">Add to Watchlist</button>
            {% endif %}    
        </form>
        <br>

        <form action="{% url 'listing' item.id %}" method="POST" for='bid'>
            {% csrf_token %}
            <div class="form-group">
                <label for="bid">Enter your bid</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input class='form-control' type="number" name="bid" id="bid" min="{{ price }}" step="0.01" placeholder="Must be higher than current price">
                    <button type="submit" class="btn btn-primary">Bid</button>
                </div>
            </div>

        </form>

        <br>
        <form action="{% url 'listing' item.id %}" method="POST" for='cmt'>
            {% csrf_token %}
            <label for="cmt" class="form-label">Post your comment</label>
            <textarea class="form-control" id="cmt" name='detail' rows="3" placeholder='Enter your comment...'></textarea>
            <button type='submit' class="btn btn-secondary" id='cmt'>Comment</button>
        </form>
    </div>
    
    <div>
        <br>
        {% for comment in comments %}
        <div class="card">
            <div class="card-header">
              {{ comment.user.username }} wrote on {{ comment.time }}
            </div>
            <div class="card-body">
              <p class="card-text">{{ comment.detail }}</p>
            </div>
          </div>
        {% empty %}
        <p>Be the first one to comment.</p>
        {% endfor %}
    </div>

{% endblock %}