{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h2>{{ item.title }} is listed</h2>
        <!-- <h3>Price: <strong>${{ item.price }}</strong></h3> -->
        <br>
        <img src="{{ item.url }}" class="card-img" alt="Image of {{ item.title }}">
        <br>
        <p>{{ item.description }}</p>
        <ul>
            <li>Owner: {{ item.owner }}</li>
            {% if item.category %}
                <li>Catgegory: {{ item.category }}</li>
            {% else %}
                <li>Category: No cagetory listed</li>
            {% endif %}
            <li>Created: {{ item.create_time }}</li>
        </ul>
    </div>
    <div>
        <form action="{% url 'watchlist'%}" method="POST" for="wishyet">
            {% csrf_token %}
            <input type='hidden' name='item_title' value="{{ item.title }}">
            {% if exist %}
                <button type="submit" name="already" value="0" id="wishyet">Remove from Wishlist</button>
            {% else %}
                <button type="submit" name="already" value="1" id="wishyet">Add to Wishlist</button>
            {% endif %}    
            </form>
    </div>
{% endblock %}