{% extends "auctions/layout.html" %}

{% block body %}

<h2>Watchlist</h2>

{% for item in list %}
<div class="card mb-3" style="max-width: 720px;">
    <div class="row no-gutters">
      <div class="col-sm-4">
        <img src="{{ item.url }}" class="card-img" alt="Image of {{ item.title }}">
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <a href="{% url 'listing' item.id %}" class="card-title">{{ item.title }}</a>>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text"><small class="text-muted">Created {{ item.create_time }}</small></p>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p>Your watchlist is empty.</p>
{% endfor %}

{% endblock %}